/**
 * Beige theme for reveal.js.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific
@font-face {
	font-family: 'Arvo';
	src: url('./fonts/Arvo-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('./fonts/RobotoSlab-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// Override theme settings (see ../template/settings.scss)
$mainColor: #3d2a2f;
$mainFont: 'Roboto', sans-serif;
$headingFont: 'Arvo';
$headingColor: #333;
$headingTextShadow: none;
$backgroundColor: #F2F2F2;
$linkColor: #3d2a2f;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: rgba(83,55,63,.4);
$headingTextTransform: none;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal .slide-background {
	background-image: url(../../../assets/logo.png);
	background-repeat: no-repeat;
	background-position-y: 100%;
	background-size: 8%;
}

.emphase {
	box-shadow: inset 0 -14px 0 rgba(83,55,63,.2);
}

ul {
	font-size: 80%;
}